.App {
  text-align: center;
}

button {
  font-size: calc(10px + 2vmin);
  width: 75px;
  border: none;
  margin-right: 5px;
  border-radius: 5px;
}
.active {
  background-color: #000;
  color: #fff;
  transform: all 0.3s ease-out;
}
