.App {
  text-align: center;
}
main {
  h1 {
    font-size: 3em;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    width: 50%;
    margin: 0 auto;
  }
  .listItem {
    font-size: 75px;
    height: 50px;
    width: 50px;
    margin: 4px;
    padding: 3rem;
    border: 4px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
